@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-tomato: #e53935;
  --color-basil: #43a047;
  --color-cheese: #ffeb3b;
  --color-crust: #8d6e63;
  --color-cream: #fafafa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-cream);
  color: var(--color-crust);
  font-family: Arial, sans-serif;
}
