@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NG+Modern:wght@100..400&display=swap");

:root {
  --primary-font: "Playwrite NG Modern";
  --secondary-font: "Playfair Display";
  --color-tomato: #e53935;
  --color-basil: #43a047;
  --color-cheese: #ffeb3b;
  --color-crust: #8d6e63;
  --color-cream: #fafafa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-cream);
  color: var(--color-crust);
  font-family: Arial, sans-serif;
}
