.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-tomato);
  color: var(--color-cream);
  padding: 20px;
  gap: 10px;
  font-family: var(--primary-font);
}

.footer p {
  margin: 0;
  font-size: 1em;
}

.github-link {
  color: var(--color-cream);
  text-decoration: none;
}

.github-logo {
  height: 40px;
  background-color: white;
  border-radius: 10%;
}

.github-link:hover .github-logo {
  filter: brightness(1.2);
}
